

body
    background: black

.nav
    height: 80px
    width: 100%
    background-color: #222222
    color: white
    position: relative
    z-index: 10
    display: flex
    justify-content: space-around
    align-items: center
    
a
    text-decoration: none
    color: white

a:hover
    color: grey

.carousel-item
    position: relative
    img
        max-height: 550px
        object-fit: cover

.content
    position: absolute
    max-width: 900px
    left: 10%
    right: 20%
    bottom: 20%
    z-index: 2
    color: white 

.overlay
    width: 100%
    height: 100%
    position: absolute
    background: black
    opacity: 0.6


.title
    font-size: 82px
    color: #685656

.text
    color: #8f8f8f

.name
    color: #b7af44

.name-text
    color: #70be70

.name2
    color: #c58855
    line-height: 5rem

.name-text2
    color: #77c6b5

.name3
    color:  #c5bba4

.name-text3
    color:  #ceab4b

.name4
    color:  #c59db6

.name-text4
    color:  #8f97d9

.card
    position: relative
    margin-bottom: 10px
    height: 370px

.painting
    position: relative
    margin-bottom: 10px
    height: 280px

.hover:hover 
    opacity: 0.8
    cursor: pointer

.card-img
    height: 280px
    object-fit: cover

.card-body
    padding-top: 5px
    padding-bottom: 0


span
    font-size: 26px
    // color: #45cf45
    // display: none

.modal-body
    padding: 0px
    padding-bottom: 5px
    background: #222222
    &__card-modal
        width: 100%
    &__text-modal
        color: white
        padding: 10px
        margin-bottom: 0

.contacts
    display: flex
    justify-content: center

.icon
    filter: invert(0.5)
    width: 65px

.icons
    display: flex
    justify-content: center

.icon:hover
    filter: invert(0.8)

.icon-phone
    display: flex
    flex-direction: column
    align-items: center

.arrow 
    position: fixed
    left: 15px
    bottom: 15px
    opacity: 0.65
    width: 50px

.arrow:hover
    opacity: 1
